.socialButton {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: #374151;
  color: #ffffff;
  border-radius: 0.5rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: #4b5563;
  }

  span:first-child {
    font-size: 1.25rem;
    font-weight: bold;
  }
}